[Unit]
Description=FractalD DNS resolver
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/fractald-resolved
Restart=on-failure
RestartSec=1s
